

<div class="chapter">
    <h4> TESTING </h4>
    <pb-threeJS-test></pb-threeJS-test>
</div> 




<div class="chapter">
    <h4> 1. Append and remove 3js child elemnet from div: </h4>
    <pb-threeJS-appendRemoveChild></pb-threeJS-appendRemoveChild>
</div> 

<div class="chapter">
    <h4> 2. Display a sphere mesh: </h4>
    <pb-threeJS-displayMesh></pb-threeJS-displayMesh>
</div> 

<div class="chapter">
    <h4> 3. Add texture to the a sphere mesh: </h4>
    <pb-threeJS-addTexture></pb-threeJS-addTexture>
</div> 

<div class="chapter">
    <h4> 3. Rotate the sphere mesh: </h4>
    <pb-threeJS-rotateMesh></pb-threeJS-rotateMesh>
</div> 